
target/
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz

.vscode/
*.code-workspace
.history/

.DS_Store
Thumbs.db
desktop.ini

*.log
logs/

.idea/
*.iml
out/
.settings/
.project
.classpath
.factorypath
.metadata/